<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Inventory management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body>

<nav>
    <a href="user/login">Login</a> |
    <a href="/user/add">Add order</a> |
    <a href="/user/confirm">Confirm delivery</a> |
</nav>

<form method="POST" action="register">

    <table class="table1">

        <tr><td><label th:for="Username">Name</label></td>

            <td><input type="text"/></td></tr>

        <tr>
            <td>
                <label>Personal Id </label></td>
            <td>
                <input type="text"/>
            </td>
        </tr>


        <tr><td><label>Password</label></td><td><input type="password"/></td></tr>

    </table>

    <input type="submit" value="submit registration"/>

</form>

</body>
</html>